@use "variables" as vars;

@mixin squares_overlay() {
  background: linear-gradient(
      -90deg,
      rgba(73, 129, 194, 0.08) 1px,
      transparent 1px
    ),
    linear-gradient(rgba(73, 129, 194, 0.08) 1px, transparent 1px), #fff;
  background-size: 20px 20px, 20px 20px, 80px 80px, 80px 80px, 80px 80px,
    80px 80px, 80px 80px, 80px 80px;
  background-color: #fff;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100%;
  font-size: 16px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo_karin_web {
  height: 50px;
  width: 50px;
  border-radius: calc(vars.$themeBorderRadius/2);
}
:focus-visible {
  outline: 4px dotted lightgrey;
  outline-offset: 5px;
  border-radius: none;
}
.text-center {
  text-align: center;
}
html {
  font-size: 16px;
}
body {
  position: relative;
  color: vars.$textcolor_darkest;
  font-weight: 400;
  transition: all 0.2s linear;
}
body.no_scroll {
  overflow: hidden;
}
@keyframes transitionIn {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
main {
  margin-top: -5.5rem;
  animation: transitionIn 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  &.dark {
    // .top_section,
    .about_me_section,
    .services_section,
    .cases_section,
    .process_section,
    .services_more_section,
    .not_found_section {
      color-scheme: dark;
      background: vars.$themecolorLilaSuperDark;
      color: vars.$textcolor_white;
      border-bottom: 1px solid vars.$themecolorLilaDark;
    }
    .top_section {
      &::before {
        background-image: linear-gradient(
          to right bottom,
          #121221,
          #161729,
          #1a1b31,
          #1f2039,
          #242442
        );
        opacity: 0.9;
      }
    }

    .large_text {
      color: vars.$textcolor_white;
    }
    a.section_link {
      color: vars.$greenVibrant;
    }
    a.btn_link {
      background: vars.$themecolorLilaLight;
      color: vars.$themecolorLilaSuperDark;
    }
  }
}
.top_section,
.about_me_section,
.services_section,
.cases_section,
.process_section,
.services_more_section,
.not_found_section {
  min-height: 400px;
  padding: 6rem 0;
  @media all and (min-width: vars.$mobileM) {
    min-height: 500px;
    padding: 8rem 0;
  }
  @media all and (min-width: vars.$desktopL) {
    min-height: 700px;
    padding: 10rem 0;
  }
}
// .my-gutters {
//   margin-right: 0;
//   margin-left: 0;
//   > .col,
//   > [class*="col-"] {
//     padding-right: 6px;
//     padding-left: 6px;
//   }
// }
.site_content {
  min-height: 100vh;
}
p,
li {
  font-size: 1.1rem;
  // line-height: 1.6;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5 {
  position: relative;
  line-height: 1.2;
}
//links
a {
  color: vars.$linkcolor;
  &.btn_link {
    transition: all 0.5s ease;
    text-decoration: none;
    display: inline-block;
    color: vars.$textcolor_white;
    background: vars.$themecolorLilaSuperDark;
    padding: 0.9rem 1.6rem 1rem 1.6rem;
    border-radius: vars.$themeBorderRadius;
    margin-top: 1rem;
    min-width: 7rem;
    text-align: center;
    font-weight: 700;
    @media all and (min-width: vars.$mobileM) {
      margin-top: 3rem;
    }
    &:hover {
      filter: drop-shadow(0 0 3px vars.$textcolor_white);
    }
  }
  &:hover {
    filter: drop-shadow(0 0 3px vars.$linkcolor);
  }
  &:focus {
    filter: drop-shadow(0 0 3px vars.$textcolor_white);
  }
}
.section_link {
  display: inline-block;
  padding-bottom: 0.5rem;
  color: vars.$linkcolor;
  transition: all 1s ease;
  &:focus {
    filter: drop-shadow(0 0 3px vars.$textcolor_white);
  }
  &:hover {
    filter: drop-shadow(0 0 3px vars.$textcolor_white);
  }
}
.loading {
  padding: 0.5rem 1rem;
  opacity: 0;
}
//fonts - styles and sizes
.content_section {
  &.white {
    color: vars.$textcolor_white;
  }
}
.right_align {
  margin-top: 3rem;
  @media all and (min-width: vars.$mobileM) {
    margin-top: 0;
  }
  @media all and (min-width: vars.$laptop) {
    text-align: right;
  }
}
.small_heading {
  text-transform: uppercase;
  margin-bottom: 2rem;
 line-height: 1.3;
  font-size: 1.2rem;
  @media all and (min-width: vars.$mobileM) {
    font-size: 1.3rem;
  }
}
.smallest_text {
  font-size: 0.7rem;
  @media all and (min-width: vars.$mobileM) {
    font-size: 0.8rem;
  }
}
.smaller_text {
  font-size: 0.9rem;
  @media all and (min-width: vars.$mobileM) {
    font-size: 1rem;
  }
}
.medium_text {
  font-size: 1.2rem;
  @media all and (min-width: vars.$laptopL) {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.2rem;
    font-weight: 700;
    @media all and (min-width: vars.$laptop) {
      font-size: 1.4rem;
    }
  }
}
.large_text {
  font-size: 1.4rem;
  font-weight: 700;
  @media all and (min-width: vars.$laptop) {
    font-size: 1.7rem;
  }
  @media all and (min-width: vars.$desktopL) {
    font-size: 2.1rem;
  }
  p {
    font-size: 1.4rem;
    font-weight: 700;
    @media all and (min-width: vars.$laptop) {
      font-size: 1.7rem;
    }
    @media all and (min-width: vars.$desktopL) {
      font-size: 2.1rem;
    }
  }
}
.heading_1 {
  margin-bottom: 0.1rem;
  color: vars.$textcolor_white;
  font-size: 2.8rem;
  font-weight: 900;
  line-height: 1.1;
  @media all and (min-width: vars.$mobileS) {
    font-size: 3.8rem;
  }
  @media all and (min-width: vars.$mobileM) {
    font-size: 4rem;
  }
  @media all and (min-width: vars.$laptop) {
    font-size: 5rem;
  }
  @media all and (min-width: vars.$laptopL) {
    font-size: 6.5rem;
  }

  &.upper {
    text-transform: uppercase;
  }
}

.heading_2 {
  font-size: 2.1rem;
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 1rem;

  @media all and (min-width: vars.$mobileM) {
    font-size: 2.5rem;
  }
  @media all and (min-width: vars.$laptop) {
    font-size: 3rem;
  }
  @media all and (min-width: vars.$laptopL) {
    font-size: 4.3rem;
  }
}
//links
.link_text {
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 2rem;
  @media all and (min-width: vars.$mobileM) {
    font-size: 1.2rem;
  }
}
.right_link {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
  a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    position: relative;
  }
}
.margin_1 {
  margin-bottom: 0.5rem;
  @media all and (min-width: vars.$laptopL) {
    margin-bottom: 0.8rem;
  }
}
.margin_2 {
  margin-bottom: 1.5rem;
  @media all and (min-width: vars.$laptopL) {
    margin-bottom: 2rem;
  }
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  @media all and (min-width: 1700px) {
    // max-width: 1400px;
    max-width: 1300px;
  }
}

/**********************
  styled_card
***********************/
.styled_card {
  background: vars.$background_beige;
  color: vars.$themecolorLilaSuperDark;
  padding: 1rem 1rem 5rem 1rem;
  margin-bottom: 1.5rem;
  border-radius: 25px;
  //clamp(minimum, preferred, maximum);
  min-height: 380px;
  height: clamp(20rem, 25rem, 30rem);
  box-shadow: vars.$themeBoxShadowLight;
  @media all and (min-width: vars.$mobileS) {
    height: clamp(30rem, 40rem, 45rem);
    padding: 1rem 1rem 7rem 1rem;
  }
  @media all and (min-width: vars.$mobileM) {
    padding: 0.5rem 0.5rem 3.5rem 0.5rem;
    height: auto;
  }
  @media all and (min-width: vars.$laptop) {
    padding: 0.7rem 0.7rem 5rem 0.7rem;
  }
  @media all and (min-width: vars.$laptopL) {
    padding: 1rem 1rem 7rem 1rem;
  }
  img {
    object-fit: cover;
    // object-position: 50% 70%;
    width: 100%;
    border-radius: 25px;
    margin-bottom: 1rem;
  }
}

/**********************
  about_me_section
***********************/
.about_me_section {
  @include squares_overlay();

  .large_text {
    color: vars.$textcolor_dark;
  }
  hr {
    visibility: hidden;
    padding: 1rem 0;
  }
  .styled_card.pict {
    @media all and (min-width: vars.$mobileS) {
      height: clamp(30rem, 35rem, 40rem);
      padding: 1rem 1rem 7rem 1rem;
    }
    @media all and (min-width: vars.$mobileM) {
      padding: 1rem 1rem 7rem 1rem;
    }
    @media all and (min-width: vars.$laptop) {
      margin-top: 0;
      height: clamp(25rem, 30rem, 35rem);
      padding: 1rem 1rem 7rem 1rem;
    }
  }
  .styled_card {
    margin-top: 3rem;
    @media all and (min-width: vars.$mobileM) {
      margin-top: 0;
    }
  }
  .me_pict {
    top: 0;
    right: 0;
  }
  .section_link {
    &:hover {
      filter: drop-shadow(0 0 3px vars.$linkcolor);
    }
  }
}
/**********************
  services_section
***********************/
.services_section {
  background: vars.$themecolorPurple;
  color: vars.$textcolor_white;

  .services_section_description {
    margin-bottom: 3rem;
  }
  .styled_card {
    background: #fff;
    padding: 1rem 1rem 2rem 1rem;
    height: auto;
    margin-bottom: 4rem;
    @media all and (min-width: vars.$mobileS) {
      margin-bottom: 1.5rem;
    }
    p {
      font-size: 1rem;
      font-weight: 400;
      margin-top: 0.7rem;
      line-height: 1.4;
    }
  }
  .services_news_banner {
    margin-top: 3rem;
  }
  .section_link {
    color: vars.$textcolor_white;
  }
}

/**********************
 cases_section
***********************/
.cases_section {
  @include squares_overlay();

  .testimonial_items_section {
    margin-bottom: 3rem;
  }
  .testimonial_item {
    margin-bottom: 3.5rem;
  }
  .testimonial_item_name {
    margin-top: 1.5rem;
  }
  .testimonial_item_company_section {
    display: flex;
    align-items: center;
    img {
      margin: 0.5rem 0.5rem 0 0;
      height: 50px;
      width: 50px;
      @media all and (min-width: vars.$desktop) {
        height: 60px;
        width: 60px;
      }
    }
  }
  .medium_text {
    font-weight: 700;
    &.light {
      font-weight: 400;
    }
  }
  .styled_card {
    padding: 1rem 1rem 2rem 1rem;
    height: auto;
    transition: all 0.5s ease;
    position: relative;
    margin-bottom: 4rem;
    &:hover {
      transform: translateY(-4px);
      color: vars.$themecolorPurple;
      h3 {
        text-decoration: underline;
      }
    }
    @media all and (min-width: vars.$mobileM) {
      padding: 0.5rem 0.5rem 2rem 0.5rem;
    }
    @media all and (min-width: vars.$laptop) {
      padding: 1rem 1rem 2rem 1rem;
    }
  }
  .case_item_link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
    color: transparent;
    text-decoration: none;
  }
  .case_item_heading {
    text-transform: uppercase;
    color: vars.$themecolorPurple;
    margin-bottom: 1rem;
  }
}
/**********************
 process_section
***********************/
.process_section {
  background: vars.$themecolorLilaSuperDark;
  color: vars.$textcolor_white;

  .arrow_pict {
    padding: 1rem;
    width: 8rem;
    @media all and (min-width: vars.$mobileS) {
      width: 10rem;
      margin-left: 1rem;
    }
    @media all and (min-width: vars.$mobileM) {
      padding: 2rem 1rem;
      margin-left: 3rem;
      width: 13rem;
    }
    @media all and (min-width: vars.$laptop) {
      width: 13rem;
      margin-left: 10rem;
    }
    @media all and (min-width: vars.$desktop) {
      margin-left: 14rem;
    }
    @media all and (min-width: vars.$desktopL) {
      width: 14rem;
      margin-left: 16rem;
    }
  }

  .timeline {
    margin-top: 2rem;
    @media all and (min-width: vars.$desktop) {
      margin-top: 0;
    }
  }
}

/**********************
 services_more_section
***********************/
.services_more_section {
  @include squares_overlay();

  .accordion_content_section {
    margin-top: 3rem;
  }
}

/**********************
 accordion
***********************/
.accordion_btn {
  background: vars.$themecolorLilaLightest;
  border: none;
  padding: 1rem;
  margin: 0.5rem auto;
  border-radius: vars.$themeBorderRadius;
  width: 100%;
  text-align: left;
  color: vars.$textcolor_darkest;
  &:focus {
    filter: none;
  }
  .heading {
    cursor: pointer;
    transition: all 0.5s ease;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media all and (min-width: vars.$mobileM) {
      padding: 0.5rem 1rem;
    }
    h3 {
      font-size: 1.3rem;
      @media all and (min-width: vars.$laptop) {
        font-size: 1.5rem;
      }
      @media all and (min-width: vars.$desktopL) {
        font-size: 1.8rem;
      }
    }
    .fa-angle-down {
      transition: all 0.3s linear;
      font-size: 1.2rem;
      margin: 0 0.1rem 0 0.5rem;
      height: 1.1rem;
      padding: 2px;
      color: vars.$themecolorLilaDark;
      @media all and (min-width: vars.$mobileM) {
        margin: 0 1rem;
      }
      &:hover {
        color: vars.$linkcolor;
      }
    }
  }
  .accordion_content {
    margin-bottom: 0;
    padding: 0rem 1rem 0 1rem;
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.4s ease-out;
    opacity: 0;
    line-height: 1.5;
  }
  &.open {
    .heading {
      margin-bottom: 1rem;
    }
    .fa-angle-down {
      transform: rotate(180deg);
    }
    .accordion_content {
      opacity: 1;
      max-height: 800px;
      padding: 0rem 1rem 3rem 1rem;
    }
  }
}

/**********************
 timeline
***********************/
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
}
/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
/* Container around content */
.timeline_container {
  // padding: 10px 30px;
  padding: 0.1rem 2rem 0 2rem;
  position: relative;
  width: 50%;
  &:first-of-type {
    padding-top: 1rem;
  }
  &:last-of-type {
    padding-bottom: 1rem;
  }
}
/* The circles on the timeline */
.timeline_container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px; //-17px;
  background: vars.$themecolorLilaDark;
  border: 4px solid vars.$themecolorPurple;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
/* container to the left */
.left {
  left: 0;
}
/*container to the right */
.right {
  left: 50%;
}
/* circle for containers on the right side */
.right::after {
  left: -13px;
}
/* The actual content */
.timeline_content {
  padding: 1rem 1.5rem;
  border: 3px dotted vars.$themecolorLilaDark;
  position: relative;
  border-radius: vars.$themeBorderRadius;
  h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  /* Full-width containers */
  .timeline_container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .timeline_content {
    margin-bottom: 1rem;
  }
  /* Make sure that all arrows are pointing leftwards */
  .timeline_container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }
  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
/**********************
  not_found_section
***********************/
.not_found_section {
  background: vars.$themecolorLilaDark;
}
.not_found_section_text {
  p {
    margin-bottom: 1rem;
    a {
      color: vars.$greenVibrant;
    }
  }
}

/**********************
   header and nav
***********************/
.nav_header {
  position: relative;
  background: transparent;
  width: 100%;
  z-index: 100;
  padding: 1rem 0;
  height: 5.5rem;
  &.dark {
    color-scheme: dark;
    color: vars.$textcolor_white;
    .logo_karin_web {
      border: 1px solid vars.$textcolor_white;
    }
  }
  .logo_link {
    transition: all 0.5s ease;
    position: relative;
    z-index: 1000;
    &:focus {
      filter: none;
    }
    &:hover {
      filter: drop-shadow(0 0 3px white);
    }
  }
  .nav_links {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 5rem;
    @media all and (min-width: vars.$mobileM) {
      justify-content: end;
      flex-direction: row;
      padding: 0;
    }
    .nav_links_list {
      margin: 0;
      padding: 0;
      line-height: 1.6;
      display: none;
      border-radius: 3px;
      @media all and (min-width: vars.$mobileM) {
        display: flex;
        align-items: center;
      }
      li.link_item {
        position: relative;
        a.link {
          margin: 0 1rem -2px 1rem;
          transition: all 0.5s ease;
          padding: 0.5rem 0.2rem;
          border-bottom: 2px solid transparent;
          display: block;
          color: vars.$navcolor;
          text-decoration: none;
          font-weight: 600;
          cursor: pointer;
          &:hover {
            color: vars.$navcolor;
            border-bottom: 2px solid vars.$linkcolor;
            filter: none;
            opacity: 1;
          }
          &.active,
          :visited {
            color: vars.$navcolor;
          }
          &.active {
            border-bottom: 2px solid vars.$linkcolor;
          }
        }
      }
    }
    //tweeking social icons component
    .social_icons {
      padding: 0.2rem;
      display: none;
      @media all and (min-width: vars.$mobileM) {
        display: flex;
        justify-content: flex-end;
      }
    }
    .social_link_list_item {
      a.link {
        color: vars.$greenVibrant;
      }
    }
  }
  //menu button
  .menu_btn {
    position: relative;
    float: right;
    z-index: 1000;
    width: 50px;
    height: 45px;
    padding: 7px 9px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: calc(vars.$themeBorderRadius/2);
    /* Hamburger Line */
    > div {
      position: relative;
      flex: none;
      width: 100%;
      height: 3px;
      border-radius: vars.$themeBorderRadius;
      background: vars.$greenVibrant;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease;
      /* Hamburger Lines - Top & Bottom */
      &::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 3px;
        background: inherit;
        border-radius: vars.$themeBorderRadius;
      }
      /* Moves Line Down */
      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 3px;
        background: inherit;
        top: 10px;
        border-radius: vars.$themeBorderRadius;
      }
    }
    //hide veggoburger
    @media all and (min-width: vars.$mobileM) {
      display: none;
    }
    //clicked veggoburger
    &.menu_btn_clicked {
      border: 2px dotted whitesmoke;
      > div {
        transform: rotate(135deg);
        /* Turns Lines Into X */
        &:before {
          top: 0;
          transform: rotate(90deg);
        }
        &:after {
          top: 0;
          transform: rotate(90deg);
        }
      }
      &:hover {
        > div {
          transform: rotate(225deg);
        }
      }
    }
  }
  //desktop
  .navbar_bigscreen {
    position: relative;
    z-index: 100;
    display: none;
    flex-wrap: nowrap;
    align-items: center;
    @media all and (min-width: vars.$mobileM) {
      display: flex;
    }
  }
  //Mobile nav
  .navbar_mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: vars.$themecolorLilaSuperDark;
    padding: 0 10%;
    padding-top: 20px;
    text-align: left;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    .nav_links {
      text-align: center;
      .nav_links_list {
        display: block;
      }
      li.link_item {
        a.link {
          padding: 0.6rem 0.2rem;
          padding-left: 0;
          margin-left: 0;
          font-size: 2.1rem;
          font-weight: 700;
        }
      }
      //tweeking social icons component mobile
      .social_icons {
        display: flex;
        justify-content: center;
        .link_icon {
          margin-right: 1rem;
          margin-left: 0;
        }
      }
    }
    //toggle open menu
    &.navbar_mobile_open {
      display: block;
      animation: transitionIn 500ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
      pointer-events: all;
      @media all and (min-width: vars.$mobileM) {
        display: none;
      }
    }
  }
}

/**********************
  top_section
***********************/
.top_section {
  position: relative;
  top: 0;
  left: 0;
  height: 47rem;
  padding-top: calc(2rem + 5.5rem);
  background: url(../images/keyboard_2.jpg) no-repeat center;
  background-size: cover;
  &::before {
    background-image: linear-gradient(
      to right bottom,
      #505095,
      #525299,
      #54549d,
      #5757a2,
      #5959a6
    );
    opacity: 0.85;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
  }
  &.dark {
    color-scheme: dark;
    &::before {
      background-image: linear-gradient(
        to right bottom,
        #121221,
        #161729,
        #1a1b31,
        #1f2039,
        #242442
      );
      opacity: 0.9;
    }
  }
  @media all and (min-width: vars.$mobileS) {
    padding-top: calc(5rem + 5.5rem);
  }
  .small_heading {
    padding-top: 0;
    margin-bottom: 0.5rem;
  }
  .medium_text {
    margin-top: 2rem;
    line-height: 1.4;
    @media all and (min-width: vars.$laptop) {
      margin-top: 0;
    }
  }
  .arrow_pict {
    padding: 0.5rem;
    width: 8rem;
    margin-left: 5rem;
    @media all and (min-width: vars.$mobileS) {
      width: 10rem;
      margin-left: 8rem;
    }
    @media all and (min-width: vars.$laptop) {
      width: 11rem;
      margin-left: -8rem;
    }
    @media all and (min-width: vars.$laptopL) {
      margin-left: -2rem;
    }
    @media all and (min-width: vars.$desktopL) {
      width: 12rem;
    }
  }
}
/**********************
  theme_switch
***********************/
.theme_switch {
  position: absolute;
  z-index: 20;
  top: 1.6rem;
  right: 5rem;
  width: 35px;
  height: 35px;
  border-radius: calc(vars.$themeBorderRadius/2);
  background: transparent;
  border: 1px solid vars.$textcolor_white;
  cursor: pointer;
  color: lightyellow;
  padding: 7px;
  transition: all 0.5s ease;
  outline: none;
  @media all and (min-width: vars.$mobileM) {
    position: relative;
    top: 0;
    right: 16px;
  }
  &:hover {
    filter: drop-shadow(0 0 3px white);
  }
  i {
    font-size: 1.2rem;
  }
}
/*********************
     social icons
  *********************/
.social_items_list {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  padding-top: 2rem;

  @media all and (min-width: vars.$laptop) {
    padding-top: 0;
    flex-direction: row !important;
    align-items: center;
  }
  li.social_item {
    padding: 0 0.1rem;
    &:first-child {
      padding-left: 0;
    }
    a {
      color: vars.$linkcolor;
      font-size: 0.9em;
      &:hover {
        filter: brightness(85%);
        -webkit-filter: brightness(85%);
        transition: all 0.5s ease;
        text-decoration: none;
      }
    }
    .fab,
    .fas {
      padding-left: 0;
      margin-left: 0;
      font-weight: 900;
      font-size: 20px;
      padding-right: 0.6rem;
      padding-bottom: 0.6rem;
      text-align: center;
      text-decoration: none;
      transition: 0.5s;
      color: vars.$linkcolor;
      @media all and (min-width: vars.$laptop) {
        margin: 0 0.4rem;
        padding: 8px;
        padding-bottom: 0;
      }
    }
  }
}
/*********************
     social_link_list
  *********************/
.social_link_list {
  display: flex;
  justify-content: flex-end;
  .fa-envelope,
  .fa-mobile-screen-button,
  .fa-location-dot {
    font-size: 1.45rem;
    margin-right: 0.7rem;
  }
  .social_link_list_item {
    .link_icon {
      font-size: 1.8rem;
      // margin-left: 1rem;
      margin: 0 1rem;
    }
    margin-bottom: 0.3rem;
    // a.link {
    //   color: vars.$linkcolorLight;
    //   &.active,
    //   :visited {
    //     color: vars.$linkcolorLight;
    //   }
    // }
  }
}
/*********************
     footer
  *********************/
.footer_section {
  background: vars.$themecolorLilaSuperDark;
  color: vars.$textcolor_white;
  padding: 3rem 0 1rem 0;
  @media all and (min-width: vars.$mobileM) {
    min-height: 500px;
    padding: 4rem 0 2rem 0;
  }
  @media all and (min-width: vars.$desktopL) {
    min-height: 700px;
    padding: 8rem 0 2rem 0;
  }
  a {
    color: vars.$linkcolorLight;
    &:hover {
      filter: drop-shadow(0 0 3px vars.$linkcolorLight);
    }
  }
  .heading_2 {
    color: vars.$themecolorPurple;
    margin-top: 1rem;
  }
  .contact_ways {
    margin-bottom: 2rem;
    .contact_ways_item {
      padding-top: 1rem;
    }
    .link_icon {
      margin-right: 0.5rem;
    }
    .section_link {
      padding-top: 0.5rem;
    }
  }
  .social_link_list {
    justify-content: flex-start;
    @media all and (min-width: vars.$laptop) {
      justify-content: flex-end;
    }
    .link_icon {
      margin-left: 0 !important;
    }
  }
}
.footer_bottom_wrapper {
  margin: 5rem 0 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer_logo_section {
  div {
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  a {
    transition: all 1s ease;
  }
  span {
    display: inline-block;
    font-size: 1rem;
    padding: 0 0.4rem;
  }
  img {
    display: inline;
    padding-top: 0.5rem;
    &.react_logo {
      height: 35px;
      width: 30px;
    }
    &.contentful_logo {
      height: 30px;
      width: 20px;
    }
  }
}
p.footer_copy {
  margin-top: 1.5rem;
}

.back_to_top_link {
  font-size: 1.7rem;
  @media all and (min-width: vars.$laptop) {
    font-size: 2.1rem;
  }
}

//image wrapper
// .cover_image_wrapper {
//   position: relative;
//   border-radius: vars.$themeBorderRadius;
//   border-radius: 30px;

//   min-height: 900px;
//   padding-bottom: 10rem;
//   margin-bottom: 5rem;
//   display: flex;
//   flex-direction: column;
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   padding-left: 8rem;
//   margin: 30px 0;

//   @media all and (min-width: vars.$mobileM) {
//     padding: 3.5rem 3.5rem 1rem 3.5rem;
//   }
//   &::before {
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     background: rgba(0, 0, 0, 0.4);
//     content: "";
//     display: block;
//     border-radius: 30px;
//   }
// }
