//sizes
$mobileXS: 480px;
$mobileS: 576px;
$mobileM: 768px;
$laptop: 992px;
$laptopL: 1200px;
$desktop: 1400px;
$desktopL: 1600px;

//2025
$themecolorPurple: #C473C4;
$themecolorLilaLight: #8E8BD8;
$themecolorLilaLightest: #dad9f2;
$themecolorLilaDark: #525298; 
$themecolorLilaSuperDark: #121221;
$background_beige: #f4f0f0;

//text
$textcolor_white: #fff;
$textcolor_darkest: #242442;
$textcolor_dark: #2d2d52;
$textcolor_lighter: #8c8cc0;
//other 

$lilacPastel: #daa6f2;
$greenVibrant: #82EAAD;
$greenVibrantDarker: #1DAA58;
$linkcolor: $greenVibrantDarker;
$linkcolorLight: $greenVibrant;
$navcolor: $textcolor_white;

$themeBorderRadius: 20px;
$themeBoxShadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
$themeBoxShadowLight: 0 2px 8px 0 rgba(0, 0, 0, 0.2);


