//sizes
$mobileXS: 480px;
$mobileS: 576px;
$mobileM: 768px;
$laptop: 992px;
$laptopL: 1200px;
$desktop: 1400px;
$desktopL: 1600px;

//portfolio-project
//bg

$themecolorDuskPink: #F5D3B0;
$themecolorDuskPinkDark: #DF6A64;

$themecolorPurple: #C473C4;
$themecolorLilaLight: #8E8BD8;
$themecolorLilaLightest: #b5b3e6;
$themecolorLilaDark: #5C5CA8;
$themecolorLilaSuperDark: #121221;

$themecolorGreenDark: #04714E;
$themecolorGreenMedium: #01BF2D;
$themecolorGreenLight: #9DE14E;

$themecolorBlue: #0063cc; // #0052b6; // #044395;
$themecolorBlueDarker: #004db3;
$themecolorBlueDark:   #1b1b1b; //#000c1a;   //#010b19;

$background_darkgrey: #1a1a1a;
$background_light: #f9f9f9;
//text
$textcolor_white: #fff;
$textcolor_dark: $themecolorBlueDark;
$textcolor_lighter: #003066;
//other 
$lightgray: #eee;
$turqoise_light: #b3ffff;
$turqoise_medium: #00e6e6;
$turqoise_dark: #00A3A3;
$lilacPastel: #daa6f2;
$bluecolor: #2e9ce6;
$themecolorPink: #FFB8F1; 
$orange: #f68c70; 
$pink_lightest: #fcd9cf; 

$linkcolor: $themecolorLilaDark;
 $navcolor: $textcolor_dark;

$themeBorderRadius: 20px;
$themeBoxShadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
$themeBoxShadowLight: 0 2px 8px 0 rgba(0, 0, 0, 0.2);

$small_text: 0.8rem;
$medium-text: 1.3rem;
